@charset "utf-8";

.gaiyou{
    margin-left: 20px;
}

.dai{
    margin-bottom:0px;
}

.tetris-list{
    margin-top:5px;
    padding-left: 30px;
}

.senten{
    margin-top:5px;
    text-indent: 1em; 
}
