@charset "utf-8";

h1 {
    margin-left: 20px;    
}

header{
    margin-top:-22px;
    background-color:rgb(230,230,250);
    height: 130px;

}





a{
    text-decoration:none; 
}

.ore{
    padding-top:20px;
    margin-bottom: 5px;
}
/*
.home{
    padding:15px;
    margin:0px;
}
.gallery{
    padding:15px;
    margin:0px;
}
.blog{
    padding:15px;
    margin:0px;
}
.SNS{
    padding:15px;
    margin:0px;
}
.hatetris{
    padding:15px;
    margin:0px;
}
*/
.head{
    padding:15px;
    margin:0px;
    display: inline-block;
}

.head:hover{
    background-color: #ffc9d7;
}

ul.header{
    margin-top: 0px;
    padding-inline-start: 10px;
}

.temp1{
    margin-left:20px;
    /* position:relative;left:10px */
}
.temp2{
    margin-left:10px;
    margin-bottom: 0px;
    /* position:relative;left:10px */
}
.temp3{
    margin-top:5px;
}
/* 
.header .study_down{
    display: none;
}

.header .study:hover .study_down{
    color:black;
    display: block;
} */


