@charset "utf-8";

.gallery{
    border-bottom: solid 2px rgb(147,112,219) ;
}

img{
    max-width:200px;
    height:auto;
}

.image{
    margin-bottom:10px;
}

.haikyu{
    max-width: 400px;
    height:auto;       
}