@charset "utf-8";

.spot{
    border-bottom: solid 2px rgb(147,112,219) ;
}
/* 
.minato{
    background-image: url(../trip_image/minato.png);
    background-size:  contain;
    background-repeat:  no-repeat;
} */
